// default
$white: #fff;
$white50: rgba(255, 255, 255, 0.5);
$white10: rgba(255, 255, 255, 0.1);

// dark
$black: #000;
$black30: rgba(0, 0, 0, 0.3);

// dark mode color
$gray42: #424242;
$gray30: #303030;
$gray21: #212121;

// light mode color
$grayee: #eee;
$grayef: #efefef;
$grayf0: #f0f0f0;
$gray75: #757575;

// backgoundcolor
$bgColor: #121212;

// blue
$blue: #3a6eff;

// red
$red: #E95958;

// point
$point: #01a4ee;
$gray99: #999;
