@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

$font14: 14px;
$font20: 20px;
$font22: 22px;
$font24: 24px;
$font26: 26px;
$font28: 28px;
$font36: 36px;

$font10: 10px;
$font12: 12px;
$font13: 13px;
$font16: 16px;
$font18: 18px;
$font23: 23px;
$font25: 25px;
$font30: 30px;
$font32: 32px;
$font33: 33px;
$font40: 40px;
$font49: 49px;
